# Data Cleaning
Earlier data cleaning was done in excel and those files were saved with a c in front. After some Exploratory Data Analysis, further cleaning seemed necessary for the ultimate goal of this project. Below is the code used to create new csv data files to be used.

In [31]:
#importing modules
import pandas as pd
import numpy as np
import matplotlib as plt

#### Creating new csv files with just 2 columns: state, and vet_suicides. This gives the total number of veteran suicides in each state within that year.

## 2005

In [42]:
df2005 = pd.read_csv('initial cleaned data/c2005.csv')
df2005.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2005.to_csv('final cleaned data/new2005.csv', index=False)
df2005.head()

        state  vet_suicides
0     Alabama           135
1      Alaska            24
2     Arizona           225
3    Arkansas            81
4  California           633

## 2006

In [43]:
df2006 = pd.read_csv('initial cleaned data/c2006.csv')
df2006.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2006.to_csv('final cleaned data/new2006.csv', index=False)
df2006.head()

        state  vet_suicides
0     Alabama           145
1      Alaska            29
2     Arizona           225
3    Arkansas            90
4  California           665

## 2007

In [44]:
df2007 = pd.read_csv('initial cleaned data/c2007.csv')
df2007.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2007.to_csv('final cleaned data/new2007.csv', index=False)
df2007.head()

        state  vet_suicides
0     Alabama           130
1      Alaska            30
2     Arizona           224
3    Arkansas            84
4  California           655

## 2008

In [45]:
df2008 = pd.read_csv('initial cleaned data/c2008.csv')
df2008.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2008.to_csv('final cleaned data/new2008.csv', index=False)
df2008.head()

        state  vet_suicides
0     Alabama           138
1      Alaska            27
2     Arizona           233
3    Arkansas            96
4  California           727

## 2009

In [46]:
df2009 = pd.read_csv('initial cleaned data/c2009.csv')
df2009.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2009.to_csv('final cleaned data/new2009.csv', index=False)
df2009.head()

        state  vet_suicides
0     Alabama           178
1      Alaska            34
2     Arizona           228
3    Arkansas            89
4  California           723

## 2010

In [47]:
df2010 = pd.read_csv('initial cleaned data/c2010.csv')
df2010.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2010.to_csv('final cleaned data/new2010.csv', index=False)
df2010.head()

        state  vet_suicides
0     Alabama           156
1      Alaska            35
2     Arizona           240
3    Arkansas           105
4  California           705

## 2011

In [48]:
df2011 = pd.read_csv('initial cleaned data/c2011.csv')
df2011.drop(columns=['col1', 'vet_pop', 'overall_pop_18', 'vet_pop_p', 'all_suicides', 'vet_suicides_p', 'vet_rate', 'civ_rate'], inplace=True)
df2011.to_csv('final cleaned data/new2011.csv', index=False)
df2011.head()

        state  vet_suicides
0     Alabama           163
1      Alaska            27
2     Arizona           242
3    Arkansas            89
4  California           706