# Exploratory Data Analysis
### Author: Luci McDaniel
### GitHub Link: https://github.com/LuciMcD 

#### This notebook is to get initial information on the data collected before working on the goals of this project. This is an extension of the data cleaning as well.

#### 1. Concatenate the csv files.

In [18]:
import pandas as pd

file_list=['c2005.csv', 'c2006.csv', 'c2007.csv', 'c2008.csv', 'c2009.csv', 'c2010.csv', 'c2011.csv']

main_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))

for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    main_dataframe = pd.concat([main_dataframe, df], axis=1)
print(main_dataframe)

    col1           state  vet_pop  overall_pop_18  vet_pop_p  vet_suicides  \
0      0         Alabama   403950         3344721       0.12           135
1      1          Alaska    74482          446969       0.17            24
2      2         Arizona   538880         4238996       0.13           225
3      3        Arkansas   259304         2023819       0.13            81
4      4      California  2193336        25543447       0.09           633
5      5        Colorado   402091         3371999       0.12           191
6      6     Connecticut   261294         2559377       0.10            52
7      7        Delaware    79151          620779       0.13            17
8      8        Florida*  1717801        13289030       0.13           540
9      9         Georgia   731466         6437595       0.11           182
10    10          Hawaii   116793          917646       0.13            15
11    11           Idaho   132844         1019061       0.13            65
12    12        Illinois   853338         9197524       0.09           219
13    13         Indiana   505259         4496185       0.11           112
14    14            Iowa   249911         2192545       0.11            70
15    15          Kansas   238506         1981969       0.12            86
16    16        Kentucky   341752         3073085       0.11            44
17    17       Louisiana   337822         3234969       0.10           101
18    18           Maine   145352         1003350       0.14            49
19    19        Maryland   480654         4038360       0.12           105
20    20   Massachusetts   453249         4725900       0.10            51
21    21        Michigan   782823         7347736       0.11           232
22    22       Minnesota   407255         3759713       0.11           103
23    23     Mississippi   226398         2070896       0.11            68
24    24     Missouri***   533517         4251339       0.13           180
25    25         Montana   100637          704193       0.14            59
26    26        Nebraska   154607         1270888       0.12            18
27    27          Nevada   233633         1757343       0.13           106
28    28   New Hampshire   129603          967192       0.13            37
29    29      New Jersey   546437         6358519       0.09            80
30    30      New Mexico   177687         1392242       0.13            80
31    31        New York  1098272        14119047       0.08           208
32    32  North Carolina   723831         6240503       0.12           225
33    33  North Dakota**    58479          470198       0.12            24
34    34            Ohio   982418         8390951       0.12           282
35    35        Oklahoma   341464         2572747       0.13           109
36    36          Oregon   350365         2709927       0.13           154
37    37    Pennsylvania  1088379         9169767       0.12           336
38    38    Rhode Island    88971          785844       0.11            15
39    39  South Carolina   400152         3077479       0.13            96
40    40    South Dakota    67985          557930       0.12            29
41    41       Tennessee   509881         4412551       0.12           183
42    42           Texas  1612948        15899260       0.10           509
43    43            Utah   143301         1683956       0.09            49
44    44         Vermont    57633          469021       0.12            10
45    45        Virginia   757224         5442170       0.14           206
46    46      Washington   628595         4633815       0.14           225
47    47   West Virginia   175697         1389726       0.13            73
48    48       Wisconsin   444679         4080095       0.11           136
49    49         Wyoming    55519          379651       0.15            17

    all_suicides  vet_suicides_p  vet_rate  civ_rate  ...  col1  \
0            535            0.25     33.42     13.60  ...     0
1            131            0.18     32.22     28.73  ...     1
2            945            0.24     41.75     19.46  ...     2
3            400            0.20     31.24     18.08  ...     3
4           3206            0.20     28.86     11.02  ...     4
5            800            0.24     47.50     20.51  ...     5
6            295            0.18     19.90     10.57  ...     6
7             83            0.20     21.48     12.19  ...     7
8           2347            0.23     31.44     15.62  ...     8
9            924            0.20     24.88     13.00  ...     9
10           107            0.14     12.84     11.49  ...    10
11           228            0.29     48.93     18.39  ...    11
12          1086            0.20     25.66     10.39  ...    12
13           745            0.15     22.17     15.86  ...    13
14           333            0.21     28.01     13.54  ...    14
15           362            0.24     36.06     15.83  ...    15
16           566            0.08     12.87     19.11  ...    16
17           505            0.20     29.90     13.94  ...    17
18           175            0.28     33.71     14.69  ...    18
19           472            0.22     21.85     10.32  ...    19
20           480            0.11     11.25     10.04  ...    20
21          1108            0.21     29.64     13.34  ...    21
22           547            0.19     25.29     13.24  ...    22
23           363            0.19     30.04     15.99  ...    23
24           727            0.25     33.74     14.71  ...    24
25           206            0.29     58.63     24.36  ...    25
26           187            0.10     11.64     15.14  ...    26
27           480            0.22     45.37     24.55  ...    27
28           162            0.23     28.55     14.92  ...    28
29           536            0.15     14.64      7.85  ...    29
30           342            0.23     45.02     21.57  ...    30
31          1189            0.17     18.94      7.53  ...    31
32          1009            0.22     31.08     14.21  ...    32
33            92            0.26     41.04     16.52  ...    33
34          1341            0.21     28.70     14.29  ...    34
35           522            0.21     31.92     18.51  ...    35
36           560            0.28     43.95     17.21  ...    36
37          1430            0.23     30.87     13.54  ...    37
38            71            0.21     16.86      8.04  ...    38
39           510            0.19     23.99     15.46  ...    39
40           121            0.24     42.66     18.78  ...    40
41           856            0.21     35.89     17.24  ...    41
42          2418            0.21     31.56     13.36  ...    42
43           348            0.14     34.19     19.41  ...    43
44            78            0.13     17.35     16.53  ...    44
45           866            0.24     27.20     14.09  ...    45
46           822            0.27     35.79     14.91  ...    46
47           255            0.29     41.55     14.99  ...    47
48           643            0.21     30.58     13.95  ...    48
49            90            0.19     30.62     22.52  ...    49

             state  vet_pop  overall_pop_18  vet_pop_p  vet_suicides  \
0          Alabama   395753         3662910       0.11           163
1           Alaska    72407          517799       0.14            27
2          Arizona   533608         4842927       0.11           242
3         Arkansas   238790         2221409       0.11            89
4       California  1910994        28292703       0.07           706
5         Colorado   411754         3857537       0.11           170
6      Connecticut   225987         2768440       0.08            54
7         Delaware    77885          699180       0.11            17
8         Florida*  1571482        15012091       0.10           642
9          Georgia   686591         7279776       0.09           218
10          Hawaii   109218         1034113       0.11            27
11           Idaho   121382         1155068       0.11            68
12        Illinois   719528         9752324       0.07           191
13         Indiana   458943         4915722       0.09           164
14            Iowa   226737         2336891       0.10            83
15          Kansas   210240         2132796       0.10            72
16        Kentucky   311073         3330313       0.09           124
17       Louisiana   312953         3442258       0.09           106
18           Maine   128940         1056250       0.12            30
19        Maryland   425963         4457846       0.10            90
20   Massachusetts   386609         5177318       0.07            59
21        Michigan   671051         7579088       0.09           217
22       Minnesota   366790         4065374       0.09           112
23     Mississippi   201148         2215005       0.09            76
24     Missouri***   490162         4578570       0.11           180
25         Montana    94872          772072       0.12            55
26        Nebraska   146104         1377398       0.11            34
27          Nevada   228213         2049720       0.11           122
28   New Hampshire   115297         1037312       0.11            33
29      New Jersey   444887         6771714       0.07            92
30      New Mexico   177041         1555130       0.11            83
31        New York   917741        15160932       0.06           244
32  North Carolina   740470         7285172       0.10           207
33  North Dakota**    55556          527822       0.11            25
34            Ohio   876163         8842889       0.10           270
35        Oklahoma   319724         2837898       0.11           141
36          Oregon   319194         3007303       0.11           150
37    Pennsylvania   954659         9976032       0.10           285
38    Rhode Island    71863          829243       0.09            18
39  South Carolina   398985         3563610       0.11           158
40    South Dakota    70027          618454       0.11            25
41       Tennessee   486407         4896267       0.10           190
42           Texas  1593072        18617868       0.09           527
43            Utah   146806         1930847       0.08            71
44         Vermont    51373          499809       0.10            18
45        Virginia   734757         6137315       0.12           197
46      Washington   597778         5194460       0.12           207
47   West Virginia   155581         1467977       0.11            70
48       Wisconsin   413735         4383985       0.09           167
49         Wyoming    52415          430554       0.12            30

    all_suicides  vet_suicides_p  vet_rate  civ_rate
0            680            0.24     41.19     15.82
1            142            0.19     37.29     25.82
2           1091            0.22     45.35     19.70
3            447            0.20     37.27     18.06
4           3923            0.18     36.94     12.19
5            879            0.19     41.29     20.58
6            364            0.15     23.90     12.19
7            116            0.15     21.83     15.93
8           2789            0.23     40.85     15.97
9           1133            0.19     31.75     13.88
10           207            0.13     24.72     19.46
11           290            0.23     56.02     21.48
12          1183            0.16     26.55     10.98
13           861            0.19     35.73     15.64
14           370            0.22     36.61     13.60
15           400            0.18     34.25     17.06
16           641            0.19     39.86     17.12
17           564            0.19     33.87     14.64
18           198            0.15     23.27     18.12
19           504            0.18     21.13     10.27
20           597            0.10     15.26     11.23
21          1274            0.17     32.34     15.30
22           625            0.18     30.54     13.87
23           382            0.20     37.78     15.19
24           873            0.21     36.72     16.95
25           224            0.25     57.97     24.96
26           185            0.18     23.27     12.26
27           554            0.22     53.46     23.72
28           203            0.16     28.62     18.44
29           668            0.14     20.68      9.10
30           423            0.20     46.88     24.67
31          1557            0.16     26.59      9.22
32          1171            0.18     27.96     14.73
33           104            0.24     45.00     16.73
34          1274            0.21     30.82     12.60
35           637            0.22     44.10     19.70
36           683            0.22     46.99     19.83
37          1574            0.18     29.85     14.29
38           127            0.14     25.05     14.39
39           645            0.24     39.60     15.39
40           123            0.20     35.70     17.87
41           941            0.20     39.06     17.03
42          2889            0.18     33.08     13.87
43           468            0.15     48.36     22.25
44           124            0.15     35.04     23.64
45           981            0.20     26.81     14.51
46           955            0.22     34.63     16.27
47           277            0.25     44.99     15.77
48           791            0.21     40.36     15.72
49           132            0.23     57.24     26.97

[50 rows x 70 columns]

Running initial summary statistics.

In [19]:
import numpy as np
import matplotlib as plt
import seaborn as sns

main_dataframe.drop(columns=['col1'], inplace=True)
print(main_dataframe)

             state  vet_pop  overall_pop_18  vet_pop_p  vet_suicides  \
0          Alabama   403950         3344721       0.12           135
1           Alaska    74482          446969       0.17            24
2          Arizona   538880         4238996       0.13           225
3         Arkansas   259304         2023819       0.13            81
4       California  2193336        25543447       0.09           633
5         Colorado   402091         3371999       0.12           191
6      Connecticut   261294         2559377       0.10            52
7         Delaware    79151          620779       0.13            17
8         Florida*  1717801        13289030       0.13           540
9          Georgia   731466         6437595       0.11           182
10          Hawaii   116793          917646       0.13            15
11           Idaho   132844         1019061       0.13            65
12        Illinois   853338         9197524       0.09           219
13         Indiana   505259         4496185       0.11           112
14            Iowa   249911         2192545       0.11            70
15          Kansas   238506         1981969       0.12            86
16        Kentucky   341752         3073085       0.11            44
17       Louisiana   337822         3234969       0.10           101
18           Maine   145352         1003350       0.14            49
19        Maryland   480654         4038360       0.12           105
20   Massachusetts   453249         4725900       0.10            51
21        Michigan   782823         7347736       0.11           232
22       Minnesota   407255         3759713       0.11           103
23     Mississippi   226398         2070896       0.11            68
24     Missouri***   533517         4251339       0.13           180
25         Montana   100637          704193       0.14            59
26        Nebraska   154607         1270888       0.12            18
27          Nevada   233633         1757343       0.13           106
28   New Hampshire   129603          967192       0.13            37
29      New Jersey   546437         6358519       0.09            80
30      New Mexico   177687         1392242       0.13            80
31        New York  1098272        14119047       0.08           208
32  North Carolina   723831         6240503       0.12           225
33  North Dakota**    58479          470198       0.12            24
34            Ohio   982418         8390951       0.12           282
35        Oklahoma   341464         2572747       0.13           109
36          Oregon   350365         2709927       0.13           154
37    Pennsylvania  1088379         9169767       0.12           336
38    Rhode Island    88971          785844       0.11            15
39  South Carolina   400152         3077479       0.13            96
40    South Dakota    67985          557930       0.12            29
41       Tennessee   509881         4412551       0.12           183
42           Texas  1612948        15899260       0.10           509
43            Utah   143301         1683956       0.09            49
44         Vermont    57633          469021       0.12            10
45        Virginia   757224         5442170       0.14           206
46      Washington   628595         4633815       0.14           225
47   West Virginia   175697         1389726       0.13            73
48       Wisconsin   444679         4080095       0.11           136
49         Wyoming    55519          379651       0.15            17

    all_suicides  vet_suicides_p vet_rate  civ_rate           state  ...  \
0            535            0.25    33.42     13.60         Alabama  ...
1            131            0.18    32.22     28.73          Alaska  ...
2            945            0.24    41.75     19.46         Arizona  ...
3            400            0.20    31.24     18.08        Arkansas  ...
4           3206            0.20    28.86     11.02      California  ...
5            800            0.24    47.50     20.51        Colorado  ...
6            295            0.18    19.90     10.57     Connecticut  ...
7             83            0.20    21.48     12.19        Delaware  ...
8           2347            0.23    31.44     15.62        Florida*  ...
9            924            0.20    24.88     13.00         Georgia  ...
10           107            0.14    12.84     11.49          Hawaii  ...
11           228            0.29    48.93     18.39           Idaho  ...
12          1086            0.20    25.66     10.39        Illinois  ...
13           745            0.15    22.17     15.86         Indiana  ...
14           333            0.21    28.01     13.54            Iowa  ...
15           362            0.24    36.06     15.83          Kansas  ...
16           566            0.08    12.87     19.11        Kentucky  ...
17           505            0.20    29.90     13.94       Louisiana  ...
18           175            0.28    33.71     14.69           Maine  ...
19           472            0.22    21.85     10.32        Maryland  ...
20           480            0.11    11.25     10.04   Massachusetts  ...
21          1108            0.21    29.64     13.34        Michigan  ...
22           547            0.19    25.29     13.24       Minnesota  ...
23           363            0.19    30.04     15.99     Mississippi  ...
24           727            0.25    33.74     14.71     Missouri***  ...
25           206            0.29    58.63     24.36         Montana  ...
26           187            0.10    11.64     15.14        Nebraska  ...
27           480            0.22    45.37     24.55          Nevada  ...
28           162            0.23    28.55     14.92   New Hampshire  ...
29           536            0.15    14.64      7.85      New Jersey  ...
30           342            0.23    45.02     21.57      New Mexico  ...
31          1189            0.17    18.94      7.53        New York  ...
32          1009            0.22    31.08     14.21  North Carolina  ...
33            92            0.26    41.04     16.52  North Dakota**  ...
34          1341            0.21    28.70     14.29            Ohio  ...
35           522            0.21    31.92     18.51        Oklahoma  ...
36           560            0.28    43.95     17.21          Oregon  ...
37          1430            0.23    30.87     13.54    Pennsylvania  ...
38            71            0.21    16.86      8.04    Rhode Island  ...
39           510            0.19    23.99     15.46  South Carolina  ...
40           121            0.24    42.66     18.78    South Dakota  ...
41           856            0.21    35.89     17.24       Tennessee  ...
42          2418            0.21    31.56     13.36           Texas  ...
43           348            0.14    34.19     19.41            Utah  ...
44            78            0.13    17.35     16.53         Vermont  ...
45           866            0.24    27.20     14.09        Virginia  ...
46           822            0.27    35.79     14.91      Washington  ...
47           255            0.29    41.55     14.99   West Virginia  ...
48           643            0.21    30.58     13.95       Wisconsin  ...
49            90            0.19    30.62     22.52         Wyoming  ...

    civ_rate           state  vet_pop  overall_pop_18  vet_pop_p  \
0      16.17         Alabama   395753         3662910       0.11
1      29.58          Alaska    72407          517799       0.14
2      20.15         Arizona   533608         4842927       0.11
3      17.48        Arkansas   238790         2221409       0.11
4      12.36      California  1910994        28292703       0.07
5      20.86        Colorado   411754         3857537       0.11
6      11.90     Connecticut   225987         2768440       0.08
7      14.90        Delaware    77885          699180       0.11
8      16.30        Florida*  1571482        15012091       0.10
9      14.80         Georgia   686591         7279776       0.09
10     19.37          Hawaii   109218         1034113       0.11
11     21.69           Idaho   121382         1155068       0.11
12     10.92        Illinois   719528         9752324       0.07
13     15.85         Indiana   458943         4915722       0.09
14     14.40            Iowa   226737         2336891       0.10
15     16.82          Kansas   210240         2132796       0.10
16     17.69        Kentucky   311073         3330313       0.09
17     13.94       Louisiana   312953         3442258       0.09
18     15.16           Maine   128940         1056250       0.12
19     10.49        Maryland   425963         4457846       0.10
20     11.04   Massachusetts   386609         5177318       0.07
21     15.35        Michigan   671051         7579088       0.09
22     14.12       Minnesota   366790         4065374       0.09
23     15.59     Mississippi   201148         2215005       0.09
24     16.65     Missouri***   490162         4578570       0.11
25     23.75         Montana    94872          772072       0.12
26     14.09        Nebraska   146104         1377398       0.11
27     23.50          Nevada   228213         2049720       0.11
28     16.94   New Hampshire   115297         1037312       0.11
29      9.95      New Jersey   444887         6771714       0.07
30     24.33      New Mexico   177041         1555130       0.11
31      9.45        New York   917741        15160932       0.06
32     14.73  North Carolina   740470         7285172       0.10
33     17.53  North Dakota**    55556          527822       0.11
34     14.80            Ohio   876163         8842889       0.10
35     19.58        Oklahoma   319724         2837898       0.11
36     20.25          Oregon   319194         3007303       0.11
37     14.45    Pennsylvania   954659         9976032       0.10
38     14.48    Rhode Island    71863          829243       0.09
39     16.23  South Carolina   398985         3563610       0.11
40     21.99    South Dakota    70027          618454       0.11
41     18.08       Tennessee   486407         4896267       0.10
42     14.14           Texas  1593072        18617868       0.09
43     22.79            Utah   146806         1930847       0.08
44     20.34         Vermont    51373          499809       0.10
45     14.58        Virginia   734757         6137315       0.12
46     16.26      Washington   597778         5194460       0.12
47     15.90   West Virginia   155581         1467977       0.11
48     15.87       Wisconsin   413735         4383985       0.09
49     27.37         Wyoming    52415          430554       0.12

    vet_suicides  all_suicides  vet_suicides_p vet_rate  civ_rate
0            163           680            0.24    41.19     15.82
1             27           142            0.19    37.29     25.82
2            242          1091            0.22    45.35     19.70
3             89           447            0.20    37.27     18.06
4            706          3923            0.18    36.94     12.19
5            170           879            0.19    41.29     20.58
6             54           364            0.15    23.90     12.19
7             17           116            0.15    21.83     15.93
8            642          2789            0.23    40.85     15.97
9            218          1133            0.19    31.75     13.88
10            27           207            0.13    24.72     19.46
11            68           290            0.23    56.02     21.48
12           191          1183            0.16    26.55     10.98
13           164           861            0.19    35.73     15.64
14            83           370            0.22    36.61     13.60
15            72           400            0.18    34.25     17.06
16           124           641            0.19    39.86     17.12
17           106           564            0.19    33.87     14.64
18            30           198            0.15    23.27     18.12
19            90           504            0.18    21.13     10.27
20            59           597            0.10    15.26     11.23
21           217          1274            0.17    32.34     15.30
22           112           625            0.18    30.54     13.87
23            76           382            0.20    37.78     15.19
24           180           873            0.21    36.72     16.95
25            55           224            0.25    57.97     24.96
26            34           185            0.18    23.27     12.26
27           122           554            0.22    53.46     23.72
28            33           203            0.16    28.62     18.44
29            92           668            0.14    20.68      9.10
30            83           423            0.20    46.88     24.67
31           244          1557            0.16    26.59      9.22
32           207          1171            0.18    27.96     14.73
33            25           104            0.24    45.00     16.73
34           270          1274            0.21    30.82     12.60
35           141           637            0.22    44.10     19.70
36           150           683            0.22    46.99     19.83
37           285          1574            0.18    29.85     14.29
38            18           127            0.14    25.05     14.39
39           158           645            0.24    39.60     15.39
40            25           123            0.20    35.70     17.87
41           190           941            0.20    39.06     17.03
42           527          2889            0.18    33.08     13.87
43            71           468            0.15    48.36     22.25
44            18           124            0.15    35.04     23.64
45           197           981            0.20    26.81     14.51
46           207           955            0.22    34.63     16.27
47            70           277            0.25    44.99     15.77
48           167           791            0.21    40.36     15.72
49            30           132            0.23    57.24     26.97

[50 rows x 63 columns]

In [20]:
main_dataframe.describe()

,vet_pop,overall_pop_18,vet_pop_p,vet_suicides,all_suicides,vet_suicides_p,vet_rate,civ_rate,vet_pop,overall_pop_18,...,vet_rate,civ_rate,vet_pop,overall_pop_18,vet_pop_p,vet_suicides,all_suicides,vet_suicides_p,vet_rate,civ_rate
count,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,...,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00,50.00
mean,"467,912.50","4,282,440.50",0.12,136.92,652.08,0.21,30.26,15.46,"467,714.24","4,483,738.16",...,35.40,16.90,"428,574.16","4,723,109.82",0.10,146.92,764.86,0.19,35.69,16.70
std,"448,711.31","4,698,609.23",0.02,134.36,627.00,0.05,10.36,4.31,"448,543.57","4,943,646.65",...,11.10,4.31,"405,644.25","5,228,324.12",0.02,144.13,745.08,0.03,9.91,4.27
min,"55,519.00","379,651.00",0.08,10.00,71.00,0.08,11.25,7.53,"54,263.00","390,268.00",...,14.51,9.45,"51,373.00","430,554.00",0.06,17.00,104.00,0.10,15.26,9.10
25%,"147,665.75","1,300,597.50",0.11,49.50,234.75,0.19,24.21,13.34,"152,576.50","1,344,364.00",...,27.85,14.46,"146,279.50","1,400,042.75",0.09,56.00,280.25,0.17,28.12,13.98
50%,"346,058.50","3,075,282.00",0.12,98.50,507.50,0.21,30.60,14.91,"345,780.00","3,187,939.50",...,35.42,16.04,"319,459.00","3,386,285.50",0.10,109.00,611.00,0.19,35.72,15.88
75%,"544,547.75","4,702,878.75",0.13,189.00,847.50,0.24,35.39,17.87,"550,949.50","4,944,188.75",...,40.42,19.53,"522,746.50","5,190,174.50",0.11,190.75,951.50,0.22,41.10,19.21
max,"2,193,336.00","25,543,447.00",0.17,633.00,"3,206.00",0.29,58.63,28.73,"2,142,367.00","26,789,221.00",...,71.31,29.58,"1,910,994.00","28,292,703.00",0.14,706.00,"3,923.00",0.25,57.97,26.97

#### Finding Correlations